<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 200px; margin-top: 50px">
    <!-- Indicators -->
    <ol class="carousel-indicators" id="ol_indicator">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="0"></li>
    </ol>
    <div class="carousel-inner" role="listbox" id="div_carousel_inner">
        <div class="item active" style="height: 200px">
            <img src="http://www.33.la/uploads/20120806-bz-lgh/24.jpg" alt="First slide">
            <div class="container" >
                <div class="carousel-caption">
                    <button class="btn btn-primary" type="button" id="btn_next_1" style="margin-top: 20px">填写问卷</button>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px">
            <img src="http://images.takungpao.com/2013/0512/20130512113154520.jpg" alt="First slide">
            <div class="container" >
                <div class="carousel-caption">
                    <button class="btn btn-primary" type="button" id="btn_next_2" style="margin-top: 20px">填写问卷</button>
                </div>
            </div>
        </div>
    </div>
</div>